{{!-- fire if success --}}
<section class="py-5">
  <h1 class="display-3">
    Thank You!
  </h1>
  <p class="lead">Your Dev-Tee should show up within 7 business day</p>
  <a href="/" class="btn btn-dark btn-lg">Home!</a>
</section>
